:root {
  --white-background-color: #ffffff;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --light-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/*----------HEADER-------- */

.header {
}
.header-navigation {
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--primary-brand-color);

  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-span {
  color: var(--dark-color);
}

.header-menu {
}

.header-menu-item {
}

.header-menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-color);

  letter-spacing: 0.02em;
}

.header-menu-link:is(:hover, :focus) {
  color: var(--pressed-state-color);
}

.header-address {
  font-style: normal;
}

.header-address-list {
}

.header-address-item {
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);

  letter-spacing: 0.02em;
}

.header-address-link:hover {
  color: var(--pressed-state-color);
}

.header-address-link:focus {
  color: var(--pressed-state-color);
}

/*----------HERO--------- */
.hero {
  background-color: var(--dark-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-background-color);

  letter-spacing: 0.02em;
  text-align: center;
}

.hero-btn {
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-background-color);
  background-color: var(--primary-brand-color);
  letter-spacing: 0.04em;
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
  cursor: pointer;
}

/*----------ADVANTAGES-------- */

.advantages {
}
.advantages-list {
}

.advantages-item {
}

.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);

  letter-spacing: 0.02em;
}
.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);

  letter-spacing: 0.02em;
}

/*----------SERVICES-------- */

.services {
}

.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark-color);

  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.services-list {
}

.services-item {
}

/*----------TEAM-------- */

.team {
  background-color: var(--light-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark-color);

  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.team-list {
}

.team-item {
  background-color: var(--white-background-color);
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);

  letter-spacing: 0.02em;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);

  letter-spacing: 0.02em;
}

/*----------FOOTER-------- */

.footer {
  background-color: var(--dark-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--primary-brand-color);

  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-span {
  color: var(--light-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-color);

  letter-spacing: 0.02em;
}

/*TODO----------PORTFOLIO-------- */

.projects-btn-list {
}

.projects-btn-item {
}

.projects-btn-text {
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-brand-color);
  background-color: var(--light-color);

  text-align: center;
  letter-spacing: 0.04em;
}

.projects-btn-text:is(:hover, :focus) {
  color: var(--white-background-color);
  background-color: var(--pressed-state-color);
  cursor: pointer;
}

.projects-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);

  letter-spacing: 0.02em;
}

.projects-item-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);

  letter-spacing: 0.02em;
}
